.ProfileContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
  
.avatarContainer {
    display: flex;
    justify-content: center;
  }

  .topCornerLink {
    display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  }

  .dropdown {
    position: absolute;
    top: 0;
    right: 0;
  }